body, p, ul, li {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
}

body {
  background: url(image/main-background.png) no-repeat;
  background-size: cover;
  height: 100vh;
}

.form-text {
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;
   margin-left: 0;
}

.sign-up {
  margin: 0;
  font-size: 20px;
}

.log-in {
  font-size: 14px;
  font-weight: bold;
}

.log-in:hover {
  text-decoration: underline;
}

a.log-in, a.terms-cond {
  color: #3cb878;
  text-decoration: none;
}

.terms-cond {
  /* margin: 0; */
  width: 0;
}

.modal-content input:focus {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);


}

.checkbox-terms-checker {
  width: 0;
  border-width: 3px;
  border-color:  #3cb878;
  border-style: solid;
  height: 11px;
}

.terms-cond:hover {
    text-decoration: underline;
}

.checkbox-agreement {
  display: flex;
  /* justify-content: space-between; */
}

.welcome {
  margin-top: 17px;
  margin-bottom: 21px;
  margin-right: 41px;
  color: #ffffff;
  float: right;
  margin-right: 21px;
}

.checkmark {

}

.welcome a {
  color: #3cb878;
  text-decoration: none;
}

.signup:hover, .login:hover {
  text-decoration: underline;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: inline-block;
}

.icons li {
  list-style: none;
  display: inline-block;
  margin-right: 28px;
}

.vertical-line {
  border-right: 1px solid grey;
  height: 20px;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.form-main-window {
  width: 444px;
  background: #ffffff;
  padding: 40px 62px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;


}

.journey-logo {
  font-size: 30px;
  font-weight: bold;
  margin-left: 81px;
  text-decoration: none;
  color: #ffffff;
}

.journey-logo:hover {
  color: #3cb878;
}

input {
  width: 100%;
  height: 46px;
  background: none;
  border: 1px solid #dfdddd;
  border-radius: 3px;
  padding: 6px 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

input[type=checkbox] {
  width: auto;
}

input:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    outline: none;
}

.horizontal-div {
 /* width: 100px; */
  display: flex;
/*  justify-content: space-between;*/
}


.horizontal-or {
  width: 125px;
  display: inline-block;
  margin: auto;
  margin-top: 29px;
  margin-bottom: 29px;
}

.or {
  margin-left: 19px;
  margin-right: 19px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.soc-buttons {
  display: flex;
  justify-content: space-between;
}



/* BUTTONS SOCIAL NETWORKS */

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 65px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
  width: 157px;
  height: 46px;

}

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 9px;
  left: 0;
  width: 34px;
  height: 60%;
  padding-left: 40px;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  padding-top: 10px;
  background: url(image/google-plus.png) 10px 5px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url(image/facebook.png) 15px 5px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}
/*   B U T T O N S     U P  */

.create-account {
  background-color: #3cb878;
  padding: 17px 100px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
}

.create-account:hover {
  background-color: #329a65;
}

.sprite-ic-calendar,
.sprite-ic-forum,
.sprite-ic-journey,
.vertical-line {
  display: inline-block;
  margin-top: 17px;
  margin-bottom: 18px;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-ic-calendar {
    width: 19px;
    height: 19px;
    background: url(image/spritesheet.png) -34px -5px;
}

.sprite-ic-calendar:hover {
    width: 19px;
    height: 19px;
    background: url(image/spritesheet.png) -5px -5px;
}

.sprite-ic-forum {
    width: 28px;
    height: 20px;
    background: url(image/spritesheet.png) -5px -34px;
}

.sprite-ic-forum:hover {
    width: 28px;
    height: 20px;
    background: url(image/spritesheet.png) -43px -34px;
}

.sprite-ic-journey {
    width: 20px;
    height: 20px;
    background: url(image/spritesheet.png) -81px -5px;
}

.sprite-ic-journey:hover {
    width: 20px;
    height: 20px;
    background: url(image/spritesheet.png) -81px -35px;
}




/* ---------CUSTOM--------------CHECKBOX--------------------- */

/* Customize the label (the container) */

/*

<label class="checkbox-agreement">One
  <input type="checkbox" checked="checked">
  <span class="checkbox-text"></span>
</label>


<label class="container">One
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>


*/
.checkbox-agreement {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-agreement input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: solid #dfdddd;
  border-width: 1px;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.checkbox-agreement:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-agreement input:checked ~ .checkmark {
  background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-agreement input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-agreement .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #3cb878;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.square {
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  left: 0;
}
/* --END---OF---CUSTOM------CHECKBOX-------- */
